<div class="row">
  <div class="col-auto">
    <h3>Welcome, {{name}}!</h3>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-6">
    <h4>Create a New Post</h4>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name form-label">Title:</label>
        <input class="form-input form-control" type="text" id="post-name" name="post-name" />
      </div>
     
      <div class="form-group mb-2">
        <label for="post-desc form-label">Contents:</label>
        <textarea class="form-input form-control" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group text-end">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
 
   <h4>Current Blog Posts</h4>
  {{#if blogposts.length}}
  <div class="col-md-6 post-list">
    {{#each blogposts as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
        <p>{{blog.contents}}</p>
      </div>
      <div class="row">
         <div class="col-md-4">
          <button id="update-btn" class="btn btn-sm btn-warning" data-id="{{blog.id}}">UPDATE</button>
        </div>
        <div class="col-md-4">
          <button id="del-btn" class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
        </div>
      </div>
      
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
